# color
alias ls='ls -l --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# shorten
alias g="git"
alias v="vim"
alias vi="vim"
alias p="python"
alias src="source"
alias pa="php artisan"
alias rmg="rm -r .git"
alias objd="objdump -M intel -d"

# typo
alias gst="g st"
alias gaa="g aa"
alias gcm="g cm"
alias gps="g ps"

# CTF
alias exploit="python exploit.py"
alias rp++="rp++ --unique -r 10 -f"
