# color
alias ls='ls -l --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# shorten
alias g="git"
alias v="vim"
alias vi="vim"
alias p="python"
alias src="source"
alias rmg="rm -r .git"
alias objd="objdump -M intel -d"
alias crg="cargo"

# typo
alias gst="g st"
alias gaa="g aa"
alias gcm="g cm"
alias gps="g ps"

# CTF
alias exploit="python exploit.py"
alias xplt="exploit"
alias cxplt="p make_exploit.py"
alias rp++="rp++ --unique -r 5 -f"
alias rpg="ROPgadget --binary"
alias solve="python solve.py"

# Cargo
alias crgn="cargo new"
alias crgb="cargo build"
alias crgr="cargo run"
alias crgt="cargo test"
