[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Xornet-Euphoria
	email = einnotwendigesubel@gmail.com
[core]
	editor = vim
[help]
	autocorrect = 1
[alias]
	a = add
	aa = add .
	st = status -s
	rfl = reflog
	ps = push
	pl = pull
	plr = pull --rebase
